@import "../../lib/styles/vars.scss";

body {
  background: $colorBgBase;
}

.Panel {
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
}
